<div>
  <h3> Add new Recipe 🍗🍛</h3>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Recipe name 🥣" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label>Chef</label>
    <input type="text" class="form-control" placeholder="Name of Chef 👨‍🍳" [(ngModel)]="chef">
  </div>
  <div class="form-group">
    <label>Image</label>
    <input type="text" class="form-control" placeholder="Image of Food 🎑" [(ngModel)]="image">
  </div>
  <div class="form-group">
    <label>Veg / Non-Veg?</label>
    <input type="text" class="form-control" placeholder="Is it veg 🥦 or non-veg 🍗" [(ngModel)]="type">
  </div>
  <button type="button" class="btn btn-primary" (click)="onAddRecipeClicked()">Add Recipe</button>
</div>